= provide(:title, 'O nas')

#organization_wrapper
  #boss
    = image_tag 'people.jpg', alt: "Założyciele pracowni Neodesign"
  #organization.description
    %p Neodesign istnieje od 1999 roku. Zajmujemy się kompleksowym projektowaniem budynków, oraz nadzorem nad ich realizacją.
    %p Naszą intencją jest tworzenie obiektów o wysokich walorach funkcjonalnych i estetycznych. Wierzymy, że taka architektura wspiera wizerunek naszych klientów i przynosi wymierne korzyści.
    %p Dzięki posiadanemu doświadczeniu, popartemu licznymi realizacjami, jesteśmy wiarygodnym uczestnikiem procesu inwestycyjnego. Znajomość realiów administracyjno-prawnych oraz właściwy dobór współpracowników, pozwala nam skutecznie realizować zadania projektowe.
    %p Reagujemy na zmiany w dynamicznym procesie inwestycyjnym. Wiemy, jak istotne jest zrozumienie potrzeb Klienta, sprawna komunikacja oraz wysoka jakość usług na każdym etapie współpracy.
    %p Otwarte myślenie, poszukiwanie połączeń między doświadczeniem technicznym a procesem kreacji, wzbogaca ofertę naszej firmy. Pasja tworzenia otwiera perspektywy i pomaga osiągać wraz z Inwestorem nowe satysfakcjonujące cele.

#people_wrapper
  #address_wrapper
    %p Neodesign Architekci s.c.<br />ul. Na Grobli 20-24<br />50-421 Wrocław<br />tel: 71 788 17 51
    = mail_to "neodesign@neodesign.wroc.pl"